body
{
    background-color:black;
    color:beige;
    font-family: 'Lato', sans-serif;
}
#container
{
    width:1000px;
    margin-left:auto;
    margin-right:auto;
    margin-top: 100px;
}
.rectangle
{
    width:960px;   
    text-align:center; 
}

#logo
{
    width:600px;
    font-size:50px;
    float:left;
    text-align:center;
}
#clock
{
    font-size:50px;
    float:left;
    text-align:center;
}
.square
{
    margin:10px;
    width:460px;
    float:left;
   
}
.tile1
{
    width:210px;
    float:left;
    margin:10px;
    background-color:blue;
    height:120px;
    font-size: 25px;
    text-align: center;
    padding-top: 30px;
}
.tile2
{
    width:210px;
    float:left;
    margin:10px;
    background-color:grey;
    height:120px;  
    font-size: 25px;
    text-align: center;
    padding-top: 30px;
}
.tile3
{
    width:210px;
    float:left;
    margin:10px;
    background-color:green;
    height:120px;
    font-size: 25px;
    text-align: center;
    padding-top: 30px;
}
.tile4
{
    width:440px;
    float:left;
    margin:10px;
    background-color:orangered;
    height:120px;
    font-size: 20px;
    text-align: center;
    padding-top: 30px;
    line-height:150% ;
}
.title
{
    text-align: center;
    padding-top: 20px;
    font-size: 20px;
}
.description
{
    text-indent: 25px;
    padding-left: 30px;
    padding-right: 30px;
    line-height: 150%;
    font-size: 20px;
}
.tile5
{
    width:440px;
    float:left;
    margin:10px;
    background-color:grey;
    height:320px;
}
.yt
{
    width:95px;
    float:left;
    margin:10px;
    background-color:#d94348;
    height:110px;
    padding-top: 40px;
}
.fb
{
    width:95px;
    float:left;
    margin:10px;
    background-color:#4668b3;
    height:110px;
    padding-top: 40px;
}
.ln
{
    width:95px;
    float:left;
    margin:10px;
    background-color: #d95333;
    height:110px;
    padding-top: 40px;
}
.tw
{
    width:95px;
    float:left;
    margin:10px;
    background-color:#3095d3;
    height:110px;
    padding-top: 40px;
}
.socialmedia
{
   font-size: 50px;
   text-align: center;
  
   
}