body
{
    background-color:black;
    color:beige;
    font-family: 'Lato', sans-serif;
}
#container
{
    width:1000px;
    margin-left:auto;
    margin-right:auto;
    margin-top: 100px;
}
.rectangle
{
    width:960px;   
    text-align:center; 
     margin: 20px;
}

#logo
{
    width:500px;
    font-size:40px;
    float:left; 
    padding: 10px;
    text-align: left;
}
#clock
{
    
    font-size:40px;
    float:left;
   padding: 10px;
   text-align: center;


    
}
.square
{
   
    width:500px;
    float:left;
   
}
.tile1
{
    width:230px;
    float:left;
    margin:10px;
    background-color:blue;
    height:122px;
    font-size: 25px;
    text-align: center;
    padding-top: 50px;
}
.tile1:hover
{
    background-color: #0000ee;
}
.tile2
{
    width:230px;
    float:left;
    margin:10px;
    background-color:grey;
    height:122px;  
    font-size: 25px;
    text-align: center;
    padding-top: 50px;
}
.tile2:hover
{
    background-color: #707070;
}
.tile3
{
    width:230px;
    float:left;
    margin:10px;
    background-color:green;
    height:122px;
    font-size: 25px;
    text-align: center;
    padding-top: 50px;
}
.tile3:hover
{
    background-color: #007000;
}
.tile4
{
    width:480px;
    float:left;
    margin:10px;
    background-color:orangered;
    height:142px;
    font-size: 20px;
    text-align: center;
    padding-top: 30px;
    line-height:150% ;
}
.title
{
    text-align: center;
    padding-top: 20px;
    font-size: 20px;
}
.description
{
    text-indent: 25px;
    padding-left: 30px;
    padding-right: 30px;
    line-height: 150%;
    font-size: 20px;
}
.tile5
{
    width:480px;
    float:left;
    margin:10px;
    background-color:grey;
    height:364px;
}
.yt
{
    width:105px;
    float:left;
    margin:10px;
    background-color:#d94348;
    height:122px;
    padding-top: 50px;
}
.yt:hover
{
    background-color: #c83237;
}
.fb
{
    width:105px;
    float:left;
    margin:10px;
    background-color:#4668b3;
    height:122px;
    padding-top: 50px;
}
.fb:hover
{
    background-color: #3557a2;
}
.ln
{
    width:105px;
    float:left;
    margin:10px;
    background-color: #d95333;
    height:122px;
    padding-top: 50px;
}
.ln:hover
{
    background-color: #c85222;
}
.tw
{
    width:105px;
    float:left;
    margin:10px;
    background-color:#3095d3;
    height:122px;
    padding-top: 50px;
}
.tw:hover
{
    background-color: #2084c2;
}
.socialmedia
{
   font-size: 50px;
   text-align: center;   
}
.logo1
{
    color: beige;
    text-decoration: none;
}